<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ToDo管理</title>
</head>

<body>

    <h1>ToDo一覧</h1>

    <!-- タスクが0件の場合 -->
    <div th:if="${#lists.isEmpty(taskList)}">
        <p>現在、未完了のタスクはありません。</p>
    </div>

    <!-- タスクが存在する場合 -->
    <div th:unless="${#lists.isEmpty(taskList)}">

        <table border="1">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>タスク</th>
                    <th>期日</th>
                    <th>優先度</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="task, stat : ${taskList}">
                    <td th:text="${stat.count}"></td>
                    <td th:text="${task.task}"></td>
                    <td th:text="${task.dueDate}"></td>
                    <td th:text="${task.priority}"></td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- ログアウト -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">ログアウト</button>
    </form>

</body>

</html>
